.sidepanel {
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 20%;
    z-index: 3;
    color: #c48a8a;
    background-color: #c48a8a2b;
    // &__divider {
    //     width: 3px;
    //     height: 2px;
    //     background-color: $main-color;
    // }
    &__link {
        width: 34px;
        height: 34px;
        margin: 0 auto;
    }
}